<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
     <script src="my_javascript.js"></script>
     <link rel="stylesheet" href="style.css">
    <title>My Notes</title>
  </head>
  <body>
    <%= yield%>
  </body>
</html>
